<!-- Simple builtin dropdown -->

<div class="dropdown-container">
    <p class="dropdown-title">Simple dropdown component</p>
    
    <select class="built-in-dropdown">
        <option value="" disabled selected 
                style="color: #9ca3af; font-weight: 500; padding: 12px 16px; background-color: #f9fafb;">
            select names
        </option>
        
        @for (option of options; track option.value) {
            <option [value]="option.value" 
                    style="color: #1f2937; padding: 12px 16px; background-color: #ffffff; font-size: 14px; 
                           font-weight: 500; line-height: 1.6; margin: 2px 0; 
                           border-radius: 4px; transition: all 0.2s ease;">
                {{ option.label }}
            </option>
        }
    </select>
</div>

<!-- bootstrap version of dropdown -->
 

<div class="dropdown-container">
    <label class="form-label">Bootstrap version 5.0</label>
    
    <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
        Dropdown button
    </button>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else</a></li>
    </ul>
    </div>
</div>


<!-- Small dropdown -->
<div class="dropdown-container">
    <div class="btn-group">
    <button type="button" class="btn btn-danger">Action</button>
    <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown">
        <span class="visually-hidden">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
    </ul>
    </div>
</div>


<div class="dropdown-container">
    <!-- Large -->
<div class="btn-group">
  <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown">
    Large button
  </button>
  <ul class="dropdown-menu">...</ul>
</div>

<!-- Small -->
<div class="btn-group">
  <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown">
    Small button
  </button>
  <ul class="dropdown-menu">...</ul>
</div>
</div>